main{
    width:1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 140px 500px 200px 200px 80px;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-areas: 
    "ganav ganav ganav ganav"
    "header header header header"
    "oferta1 gaoferta2 gaoferta2 oferta3"
    "zdjecie zdjecie zdjecie zdjecie"
    "uslugi1 uslugi1 uslugi2 uslugi2"
    "footer footer footer footer";
}
body{
    background: lightsteelblue;
}
nav{
    background: lightgreen;
    grid-area: ganav
}
header{
    background:lightsalmon;
    grid-area: header
}
#oferta1{
    background:lightcoral;
    grid-area: oferta1
}
#oferta2{
    background:lightblue;
    grid-area: gaoferta2
}
#oferta3{
    background:mediumseagreen;
    grid-area: oferta3
}
#zdjecie{
    background:moccasin;
    grid-area: zdjecie
}
#uslugi1{
    background:mediumslateblue;
    grid-area: uslugi1
}
#uslugi2{
    background:lightseagreen;
    grid-area: uslugi2
}
footer{
    background: lightblue;
    grid-area: footer;
}
@media(max-width: 800px) {
    main{
        width: 100%;
        grid-template-rows: 60px 140px 300px 300px 200px 120px 120px 80px;
        grid-template-columns:1fr 1fr;
        grid-template-areas: 
        "ganav ganav"
        "header header"
        "oferta1 gaoferta2" 
        "oferta3 oferta3"
        "zdjecie zdjecie"
        "uslugi1 uslugi1"
        "uslugi2 uslugi2"
        "footer footer";
        }
}

@media(max-width: 500px) {
    main{
        width: 100%;
        grid-template-rows: 60px 140px 300px 300px 300px 200px 120px 120px 80px;
        grid-template-columns:1fr;
        grid-template-areas: 
        "ganav"
        "header"
        "oferta1"
        "gaoferta2" 
        "oferta3"
        "zdjecie"
        "uslugi1"
        "uslugi2"
        "footer";
        }
}