main{
    width:1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 140px 500px 200px 200px 80px;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-areas: 
    "header header header header"
    "header header header header"
    "aside middle middle right"
    "article article article article"
    "third third fourth fourth"
    "footer footer footer footer";
}